<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="schedule.css">
    <title>主页</title>
</head>
<body>
    <div class="header w">
        <div class="log">
            <img src="img/logo.png">
            <P>e点名</P>
        </div>
        <a href="#" class="Tname">上午好！柯逍 老师</a>
    </div>
    <div class="nav w">
        <ul class="nav-pills">
            <li style="width: 150px;">
                <a href="#">课程表</a>
            </li>
            <li class="dropdown" style="width: 175px;">
                <a href="#">考勤数据</a>
                <ul class="dropdown-menu">
                    <li><a href="#">历史考勤统计</a></li>
                    <li><a href="#">平时分统计</a></li>
                </ul>
            </li>
            <li class="dropdown" style="width: 175px;">
                <a href="#">开始点名</a>
                <ul class="dropdown-menu">
                    <li><a href="#">遍历全点</a></li>
                    <li><a href="#">马太专点</a></li>
                    <li><a href="#">随机抽点</a></li>
                    <li><a href="#">移动端点名</a></li>
                    <li><a href="#">二维码点名</a></li>
                </ul>
            </li>
        </ul>
        <a href="#" class="setting">设置</a>
    </div>
    <div class="content w ">
        <sch>
        <table border="1px " width="1300px" height="450px" cellspacing="0" bordercolor="#797979">
            <tr>
              <th width="70px" height="40px"></th>
              <th>一</th>
              <th>二</th>
              <th>三</th>
              <th>四</th>
              <th>五</th>
              <th>六</th>
              <th>日</th>
            </tr>
            <tr>
              <th>1-2</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
                <th>3-4</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
              <tr>
                <th>5-6</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>7-8</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            <tr>
                <th>9-11</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            
          </table>
        </sch>

        <!--去掉链接下划线-->
        <style>a{TEXT-DECORATION:none}</style>  
        
        <footer_link>
                    <a href="#">关于我们 </a> &nbsp;|&nbsp; <a href="#">网站地图 </a> &nbsp;|&nbsp; <a href="#">版权声明</a>
                    &nbsp;|&nbsp;<a href="#">招聘信息</a> &nbsp;|&nbsp; <a href="#">帮助中心</a> &nbsp;|&nbsp; <a href="#">在线客服</a> 
        <footer_link>

        
        
          
        </div>
    

</body>
</html>